In [1]:
import pandas as pd
from Bio import SeqIO

df = pd.read_csv('/tscc/projects/ps-yeolab3/eboyle/encode/pipeline/adapters/katie/barcode_list.tsv', 
                   sep = '\t'
                  ).T.reset_index().T

In [2]:
df = df[[0,2]]

In [3]:
df.columns = ['name', 'seq']

In [4]:
df

           name                                          seq
index   eCseNA1  5Phos/NNAGCGCTAGAGATCGGAAGAGCACACGTC/3AmMO/
0       eCseNA2  5Phos/NNGATATCGAAGATCGGAAGAGCACACGTC/3AmMO/
1       eCseNA3  5Phos/NNCGCAGACGAGATCGGAAGAGCACACGTC/3AmMO/
2       eCseNA4  5Phos/NNTATGAGTAAGATCGGAAGAGCACACGTC/3AmMO/
3       eCseNA5  5Phos/NNCCTGAGATAGATCGGAAGAGCACACGTC/3AmMO/
4       eCseNA6  5Phos/NNTAGCGAGTAGATCGGAAGAGCACACGTC/3AmMO/
5       eCseNA7  5Phos/NNTTACTACGAGATCGGAAGAGCACACGTC/3AmMO/
6       eCseNA8  5Phos/NNAGGCTCCGAGATCGGAAGAGCACACGTC/3AmMO/
7       eCseNA9  5Phos/NNGCAGCGTAAGATCGGAAGAGCACACGTC/3AmMO/
8      eCseNA10  5Phos/NNCTGCGCATAGATCGGAAGAGCACACGTC/3AmMO/
9      eCseNA11  5Phos/NNGAGCGCTAAGATCGGAAGAGCACACGTC/3AmMO/
10     eCseNA12  5Phos/NNCGCTCAGTAGATCGGAAGAGCACACGTC/3AmMO/
11     eCseNA13  5Phos/NNGTCTTAGGAGATCGGAAGAGCACACGTC/3AmMO/
12     eCseNA14  5Phos/NNACTGATCGAGATCGGAAGAGCACACGTC/3AmMO/
13     eCseNA15  5Phos/NNTAGCTGCAAGATCGGAAGAGCACACGTC/3AmMO/
14     eCseNA16  5Phos/NNGACGTCGAAGATCGGAAGAGCACACGTC/3AmMO/
15     eCseNA17  5Phos/NNGTAAGGAGAGATCGGAAGAGCACACGTC/3AmMO/
16     eCseNA18  5Phos/NNTCGCCTTAAGATCGGAAGAGCACACGTC/3AmMO/
17     eCseNA19  5Phos/NNCTAGTACGAGATCGGAAGAGCACACGTC/3AmMO/
18     eCseNA20  5Phos/NNTTCTGCCTAGATCGGAAGAGCACACGTC/3AmMO/
19     eCseNA21  5Phos/NNGCTCAGGAAGATCGGAAGAGCACACGTC/3AmMO/

In [5]:
from Bio.Seq import Seq
df['barcode']=df['seq'].str.replace('AGATCGGAAGAGCACACGTC/3AmMO/', '').str.replace('5Phos/NN','').apply(lambda seq: str(Seq(seq).reverse_complement()))

In [6]:
df

           name                                          seq   barcode
index   eCseNA1  5Phos/NNAGCGCTAGAGATCGGAAGAGCACACGTC/3AmMO/  CTAGCGCT
0       eCseNA2  5Phos/NNGATATCGAAGATCGGAAGAGCACACGTC/3AmMO/  TCGATATC
1       eCseNA3  5Phos/NNCGCAGACGAGATCGGAAGAGCACACGTC/3AmMO/  CGTCTGCG
2       eCseNA4  5Phos/NNTATGAGTAAGATCGGAAGAGCACACGTC/3AmMO/  TACTCATA
3       eCseNA5  5Phos/NNCCTGAGATAGATCGGAAGAGCACACGTC/3AmMO/  ATCTCAGG
4       eCseNA6  5Phos/NNTAGCGAGTAGATCGGAAGAGCACACGTC/3AmMO/  ACTCGCTA
5       eCseNA7  5Phos/NNTTACTACGAGATCGGAAGAGCACACGTC/3AmMO/  CGTAGTAA
6       eCseNA8  5Phos/NNAGGCTCCGAGATCGGAAGAGCACACGTC/3AmMO/  CGGAGCCT
7       eCseNA9  5Phos/NNGCAGCGTAAGATCGGAAGAGCACACGTC/3AmMO/  TACGCTGC
8      eCseNA10  5Phos/NNCTGCGCATAGATCGGAAGAGCACACGTC/3AmMO/  ATGCGCAG
9      eCseNA11  5Phos/NNGAGCGCTAAGATCGGAAGAGCACACGTC/3AmMO/  TAGCGCTC
10     eCseNA12  5Phos/NNCGCTCAGTAGATCGGAAGAGCACACGTC/3AmMO/  ACTGAGCG
11     eCseNA13  5Phos/NNGTCTTAGGAGATCGGAAGAGCACACGTC/3AmMO/  CCTAAGAC
12     eCseNA14  5Phos/NNACTGATCGAGATCGGAAGAGCACACGTC/3AmMO/  CGATCAGT
13     eCseNA15  5Phos/NNTAGCTGCAAGATCGGAAGAGCACACGTC/3AmMO/  TGCAGCTA
14     eCseNA16  5Phos/NNGACGTCGAAGATCGGAAGAGCACACGTC/3AmMO/  TCGACGTC
15     eCseNA17  5Phos/NNGTAAGGAGAGATCGGAAGAGCACACGTC/3AmMO/  CTCCTTAC
16     eCseNA18  5Phos/NNTCGCCTTAAGATCGGAAGAGCACACGTC/3AmMO/  TAAGGCGA
17     eCseNA19  5Phos/NNCTAGTACGAGATCGGAAGAGCACACGTC/3AmMO/  CGTACTAG
18     eCseNA20  5Phos/NNTTCTGCCTAGATCGGAAGAGCACACGTC/3AmMO/  AGGCAGAA
19     eCseNA21  5Phos/NNGCTCAGGAAGATCGGAAGAGCACACGTC/3AmMO/  TCCTGAGC

# RBP to barcode

In [7]:
# MAP RBP TO BARCODE
import pandas as pd
exp_bar = pd.read_csv('../test_files/iter7.csv')[['RBP', 'oligo']].dropna()

In [8]:
exp_bar['barcode'] = exp_bar['oligo'].map(df.set_index('name')['barcode'])

In [9]:
exp_bar[['RBP', 'barcode']]

               RBP   barcode
0        2plexSLBP  ACTCGCTA
1      2plexRBFOX2  CGTAGTAA
2        1plexSLBP  CGGAGCCT
3      1plexRBFOX2  TACGCTGC
4         ctrlBead  ATGCGCAG
5        ctrlSpike  TAGCGCTC
6    ctrlSpikeSLBP  ACTGAGCG
7  ctrlSpikeRBFOX2  CCTAAGAC

In [10]:
exp_bar['RBP'] = exp_bar['RBP'].str.replace(' ', '_')

In [11]:
exp_bar['barcode_w_name'] = exp_bar['barcode']+':'+exp_bar['RBP']
exp_bar['barcode_w_name'].to_csv('../config/barcode_csv/iter7.csv',index = False, header = False)

In [14]:
exp_bar['barcode'].duplicated().any()

False

In [13]:
exp_bar = pd.read_csv('../test_files/iter7-splint.csv')[['RBP', 'oligo']].dropna()
exp_bar['barcode'] = exp_bar['oligo'].map(df.set_index('name')['barcode'])
exp_bar[['RBP', 'barcode']]
exp_bar['RBP'] = exp_bar['RBP'].str.replace(' ', '_')
exp_bar['barcode_w_name'] = exp_bar['barcode']+':'+exp_bar['RBP']
exp_bar['barcode_w_name'].to_csv('../config/barcode_csv/iter7-splint.csv',index = False, header = False)

In [15]:
exp_bar

      RBP     oligo   barcode   barcode_w_name
0    SLBP  eCseNA12  ACTGAGCG    ACTGAGCG:SLBP
1  RBFOX2  eCseNA13  CCTAAGAC  CCTAAGAC:RBFOX2

# good double checking practice

`zcat FASTQ_R2.fastq.gz | grep ONE_OF_THE_BARCODE`

for example,

`zcat /tscc/projects/ps-yeolab4/seqdata/20220920_KR_SM_clip/igm-storage2.ucsd.edu/220916_A00953_0627_BH5M7GDSX5/Lane3/CN1_S9_L003_R2_001.fastq.gz | grep ACTGAGCG`

yielded:

**ACTGAGCG**CCAGCAGCCTCCCCTCATCTGCATAGATCCGCGGCCAGGGTATTCCCCGCATAACAGTTCACATAGATCGGAAGAGCGTCGTGTAGGGAAAGA
ACTGAGCGGGATTGCCGGACGACGTCCTAAAGGAGGCCGGAGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTCTTCGCCTGTGTAGATCTCGGTGGTCGC
ACTGAGCGATCCACCAACTAAGAACGGCCATGCACCACCACCCAAATGGGGCCGCAGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTCTTCGCCTGTGTA
ACTGAGCGAATCCTGAGCTCAGGTGATCCACCCACCTCGGCAAATCGGTGGCAAGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTCTAAGCCTGTGTAGA
ACTGAGCGCCCCTGGGAGACGGAGGTTGCAGTGAGCCGAGATGGCACCACTGCACAACTCTCAATCCAGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTC
ACTGAGCGCCTGGCGGGGGTGCGTCGGGTCTGCACACTACGTGCAGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTCTTCGCCTGTGTAGATCTCGGTGG
ACTGAGCGCAGAGCCTGCACCCCGCCTCCCGCGCGTCCCCACAAGATGAGCGGGAGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTCTTCGCCTGTGTAG
ACTGAGCGGACCCCGATCCCCATCACGAACTACTGTGGGAGATCGGAAGAGCGTCGTGTAGGGACAGAGTGTCTTCGCCTGTGTAGATCTCGGTGGTCGCC
ACTGAGCGGTTGGGTCGTCGCCGCCACGGAAAGCGAGCGTGAGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTCTTCGCCTGTGTAGATCTCGGTGGTC

the barcode should be in the beginning of read2